<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">検索</h1>
  </div>

  <h2>生年月日入力</h2>

  <%= form_tag('/searches/diagnosis') do %>
  <% if @check_form.present? %>
    <% @check_form.errors.full_messages.each do |message| %>
    *<%= message %>
    <br>
    <% end %>
    <% end %>
    西暦:<input type="number" min="1900" max="2100" value="<%= @year %>" placeholder="1997" name="search[year]" class="input-group col-5" />
    月:<input type="number" min="0" max="12" value="<%= @month %>" placeholder="1" name="search[month]" class="input-group mt-2 col-5" />
    日:<input type="number" min="0" max="31" value="<%= @day %>" placeholder="1" name="search[day]" class="input-group mt-2 col-5" />
    性別：
    <div align="left">
      <label><input type="radio" value="0" placeholder="sex" name="search[sex]"/>男性</label>&nbsp;&nbsp;
      <label><input type="radio" value="1" placeholder="sex" name="search[sex]"/>女性</label>
    </div>
    <%= submit_tag '送信', class: 'btn btn-danger mb-2' %>
  <% end %>
</main>
