<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">削除</h1>
  </div>

   <div class="table-responsive col-sm-8">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>名前</th>
          <th>生年月日</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        <% @favorites.each do |favorite| %>
          <tr>
            <td><%= favorite.id %></td>
            <td>
              <%= link_to favorite.name,
                diagnosis_searches_path(search: { year: favorite.year, month: favorite.month, day: favorite.day, sex: favorite.sex}),
                method: :post %>
            </td>
            <td><%= favorite.year %>/<%= favorite.month %>/<%= favorite.day %></td>
            <td>
              <%= form_tag('/favorite/delete') do %>
                <input type="hidden" value="<%= favorite.id %>" name="id" />
                <%= submit_tag '削除', class: 'btn btn-danger' %>
              <% end %>
            </td>
          </tr>
        <% end %>
        
      </tbody>
    </table>
  </div>
</main>