<!DOCTYPE html>
<html>
  <head>
    <title>BirthdayKarte</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap py-0">
      <%= image_tag 'Crystal.png' %>

      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href=<%= searches_path %>>生年月日入力</a>
      <a class="nav-link" href="/favorite">お気に入り</a>
      <a class="nav-link" href="">about</a>

      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'navbar-link'  %> 
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <%= yield %>
      </div>
    </div>

  </body>
</html>