<!DOCTYPE html>
<html>
  <head>
    <title>BirthdayKarte</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark py-0">
      <%= image_tag 'Crystal.png' %>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <ul id="navbar" class="navbar-collapse collapse" style="list-style: none;" align="right">
        <li><a class="nav-link" href="/">ホーム</a></li>
        <li><a class="nav-link" href=<%= searches_path %>>生年月日入力</a></li>
        <li><a class="nav-link" href="/favorite">お気に入り</a></li>
      
        <li><a href="" class="nav-link" data-toggle="modal" data-target="#aboutModal" >このサイトについて</a></li>
          <div class="modal fade" id="aboutModal" data-backdrop="false">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">ようこそ！</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" align="left">
                  この診断ではあなたの生年月日から、</br>
                  気になる誰かの生年月日から！</br>
                  性格、言われて嬉しい言葉、嫌な言葉を占います！</br>
                  また、診断結果はお気に入りに保存できますので忘れてしまう心配も無用！</br></br>
                  <ul>
                    <li>ホーム：ホーム画面に飛びます。</li>
                    <li>生年月日入力：生年月日から占いができます。</li>
                    <li>お気に入り：お気に入り保存した占いを閲覧できます。</li>
                    <li>このサイトについて：今押したボタン、操作説明。</li>
                    <li>ログアウト：ログアウトをしてログイン画面に飛びます。</li>
                  <ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
                </div>
              </div>
            </div>
          </div>
    
        <li>
          <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'navbar-link'  %> 
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
    
    <div class="container-fluid">
      <div class="row">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
